<% provide(:title, "About") %>
<h1>About</h1>

<p>Peek a verse or pick a verse is the main inspiration why we created Peek'A-Vee! This is to encourage all believers of Jesus Christ to share messages and verses from the bible to one another in a more engaging and fun way. We will be coming up with a lot of development projects in the pipeline for this platform.</p>

