<% provide(:title, "Help") %>

<h1>Help</h1>
<p>List of frequently asked questions can be found here.</p>

<ul class="faq">
  <li><a href="#">How to use this site?</a></li>
  <li><a href="#">How can I change my password?</a></li>
  <li><a href="#">Where can I find the logout?</a></li>
  <li><a href="#">How to make full use of this app?</a></li>
  <li><a href="#">Best way to encourage others.</a></li>
</ul>

