<h1>Peek'a-vee</h1>

<p>Blessed day to you <%= @user.name %>!</p>

<p>
  Welcome to Peek'a-vee! Kindly click the link below to activate your account:
</p>

<%= link_to "Activate", edit_account_activation_url(@user.activation_token, email: @user.email) %>